@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk";
}

:root {
    --Lightred: hsl(0, 100%, 67%);
    --Orangeyyellow: hsl(39, 100%, 56%);
    --Greenteal: hsl(166, 100%, 37%);
    --Cobaltblue: hsl(234, 85%, 45%);
    --White: hsl(0, 0%, 100%);
    --Paleblue: hsl(221, 100%, 96%);
    --Lightlavender: hsl(241, 100%, 89%);
    --Darkgrayblue: hsl(224, 30%, 27%);
}

body {
    background-color: var(--White);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

main {
    display: flex;
    border-radius: 25px;
    width: 35rem;
    background-color: var(--White);
    box-shadow: 0 0 20px -1px var(--Lightlavender);
}

section {
    width: 50%;
    border-radius: 25px;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

section:first-child {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
}

section:first-child h1 {
    color: var(--Lightlavender);
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.circle {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.8rem;
}

.circle h2 {
    color: var(--White);
    font-size: 3rem;
}

.circle p {
    color: var(--Lightlavender);
    font-weight: 500;
    font-size: 0.8rem;
    opacity: 0.8;
}

section:first-child h3 {
    color: var(--White);
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

section:first-child .description {
    font-size: 0.9rem;
    color: var(--Lightlavender);
    font-weight: 500;
}

section:last-child {
    padding: 1.5rem;
}

section:last-child h1 {
    align-self: flex-start;
    color: var(--Darkgrayblue);
    font-size: 1.3Rem;
    margin-bottom: 2rem;
}

section .list {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 2rem;
}

.box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 0 0.5rem;
    border-radius: 10px;
}

.box:nth-child(1) {
    background-color: hsla(0, 100%, 67%, 0.1);
}

.box:nth-child(2) {
    background-color: hsla(39, 100%, 56%, 0.1);
}

.box:nth-child(3) {
    background-color: hsla(166, 100%, 37%, 0.1);
}

.box:nth-child(4) {
    background-color: hsla(234, 85%, 45%, 0.1);
}

.title-logo {
    display: flex;
    align-items: center;
    gap: 7px;
}

.box:nth-child(1) .title-logo p {
    color: var(--Lightred);
    font-weight: 600;
}

.box:nth-child(2) .title-logo p {
    color: var(--Orangeyyellow);
    font-weight: 600;
}

.box:nth-child(3) .title-logo p {
    color: var(--Greenteal);
    font-weight: 600;
}

.box:nth-child(4) .title-logo p {
    color: var(--Cobaltblue);
    font-weight: 600;
}

.score p {
    color: hsla(224, 30%, 27%, 0.5);
    font-weight: 600;
}

.score p strong {
    color: var(--Darkgrayblue);
}

button {
    background-color: var(--Darkgrayblue);
    border: none;
    width: 100%;
    height: 2.5rem;
    border-radius: 20px;
    color: var(--White);
    font-weight: 600;
}

button:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    main {
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    section {
        width: 100%;
    }
}